 
<div class="BodyContents">
 
 
<div class="SumArea">


<h5>MYSQL</h5>

        <dl>
          <dt>URL</dt>
          <dd> /phpMyAdmin</dd>
        </dl>
        <dl>
          <dt>user</dt>
          <dd>          <%= @user.name%></dd>
        </dl>
       <dl>
          <dt>db</dt>
          <dd>          <%= @user.name%></dd>
        </dl>
<h5>FTP</h5>
        <dl>
          <dt>user</dt>
          <dd>          <%= @user.name%></dd>
        </dl>
       <dl>
<h5>SSH</h5>
        <dl>
          <dt>user</dt>
          <dd>          <%= @user.name%></dd>
        </dl>
       <dl>
        <dl>
          <dt>工具下载</dt>
          <dd>    </dd>
        </dl>
       <dl>
  </div>
  </div>

</div>
 