  <div class="LeftNew">
    <div class="Inner">
      <div class="AcceNew">
        <dl>
          <dt><%= User.human_attribute_name(:name) %></dt>
          <dd>
            <%= @user.name  %>
          </dd>
        </dl>
        <dl>
          <dt><%= User.human_attribute_name(:password) %></dt>
          <dd>
            <%= @user.password  %>
          </dd>
        </dl>
 
      </div>
 
    </div>
  </div>